@using System.Collections
@using Vidly.Models
@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@if (!Model.Any())
{
    <text>We don't have any movies yet.</text>
}
else
{
    <table class="table	table-bordered	table-hover">
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>

        @foreach (Movie movie in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)
                </td>
                <td>
                    @movie.Genre
                </td>
            </tr>
            
        }

    </table>


}
